@using System.Security.Principal

<div>
@if (User.Identity.IsAuthenticated)
{
    <div>
        <dd>
            <div>
                @using (Html.BeginForm("Add", "Star", FormMethod.Post, new { onsubmit = "return SubmitRating()" }))
                {
                    @Html.AntiForgeryToken()
                    <div class="form-horizontal">
                        <div class="form-group">
                            <div class="row">
                                <div style="float: left;">
                                    <div onmouseout="Select()">
                                        <span class="starFade" id="Rate1" onclick="Rate(1)" onmouseover="Over(1)" onmouseout="Out(1)"></span>
                                        <span class="starFade" id="Rate2" onclick="Rate(2)" onmouseover="Over(2)" onmouseout="Out(2)"></span>
                                        <span class="starFade" id="Rate3" onclick="Rate(3)" onmouseover="Over(3)" onmouseout="Out(3)"></span>
                                        <span class="starFade" id="Rate4" onclick="Rate(4)" onmouseover="Over(4)" onmouseout="Out(4)"></span>
                                        <span class="starFade" id="Rate5" onclick="Rate(5)" onmouseover="Over(5)" onmouseout="Out(5)"></span>
                                        <span class="starFade" id="Rate6" onclick="Rate(6)" onmouseover="Over(6)" onmouseout="Out(6)"></span>
                                        <span class="starFade" id="Rate7" onclick="Rate(7)" onmouseover="Over(7)" onmouseout="Out(7)"></span>
                                        <span class="starFade" id="Rate8" onclick="Rate(8)" onmouseover="Over(8)" onmouseout="Out(8)"></span>
                                        <span class="starFade" id="Rate9" onclick="Rate(9)" onmouseover="Over(9)" onmouseout="Out(9)"></span>
                                        <span class="starFade" id="Rate10" onclick="Rate(10)" onmouseover="Over(10)" onmouseout="Out(10)"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12">
                                <input type="hidden" name="MovieId" value="@Model.Id" />
                                <input type="hidden" name="Rating" id="Rating" value="0" />
                                <input type="submit" id="btnRegister" name="btnRegister" value="Rate this movie!" class="btn btn-dark" />
                            </div>
                        </div>
                    </div>
                }
            </div>
        </dd>

    </div>
}
else
{
    <div>
        <h7>Please sign in to rate this movie!</h7>
    </div>
}
</div>

<script>
    function SubmitComment() {
        if ($("#Rating").val() == "0") {
            alert("Please select your rate.");
            return false;
        }
        else {
            return true;
        }
    }

    function Rate(r) {
        $("#Rating").val(r);
        for (var i = 1; i <= r; i++) {
            $("#Rate" + i).attr('class', 'starGlow');
        }
        for (var i = r + 1; i <= 10; i++) {
            $("#Rate" + i).attr('class', 'starFade');
        }
    }

    function Over(r) {
        for (var i = 1; i <= r; i++) {
            $("#Rate" + i).attr('class', 'starGlow');
        }
    }

    function Out(r) {
        for (var i = 1; i <= r; i++) {
            $("#Rate" + i).attr('class', 'starFade');
        }
    }

    function Select() {
        var setRating = $("#Rating").val();
        for (var i = 1; i <= setRating; i++) {
            $("#Rate" + i).attr('class', 'starGlow');
        }
    }
</script>