@model MoviesWebApplication.Models.MoviesModel
@using System.Security.Principal

@{
    ViewData["Title"] = "Details";
    //var comments = (IEnumerable<StarRatingSystem.Models.ArticlesComment>)ViewBag.Comments;
    //var ratingSum = ViewBag.RatingSum;
    //var ratingCount = ViewBag.RatingCount;

    //decimal rating = 0;
    //if (ratingCount > 0)
    //{
    //    rating = (ratingSum / ratingCount);
    //}
    //var totalRating = decimal.Parse(rating.ToString());
}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <style>
        .posters {
            width: 300px;
            height: 400px;
        }

        .errorPosters {
            width: 250px;
            height: 350px;
        }

        .text {
            font-size: 17px;
        }
    </style>
    <script type="text/javascript" src="~/js/jquery-1.10.2.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="~/scripts/jquery.js"></script>
</head>
<body>
    <h1>Movie Details</h1>
    <br />
    <div class="text-black container">
        <br />
        <div class="detailbox row">
            <div class="col-md-4 col-sm-10">
                <div id="article_table"></div>
            </div>
            <div class="col-md-8 col-sm-10">
                <div class="row pr-3">
                    <div class="col-md-7">
                        <h4>@Model.Name</h4>
                        <br />
                        <p class="text" id="about"></p>
                        <h6 id="category">Category : </h6>
                    </div>
                    <div class="col-md-5">
                        <h4>More information</h4>
                        <br />

                        <h6 id="director">Director : </h6>
                        <h6 id="writer">Writer: </h6>
                        <h6 id="actors">Actors: </h6>
                        <h6 id="year">Year: </h6>
                        <h6 id="release">Release: </h6>
                        <h6 id="country">Country: </h6>
                        <h6 id="language">Language: </h6>
                        <h6 style="display:inline;" id="rating">Rating: </h6>
                        <h6 style="display:inline;" id="votes"> (</h6><h6 style="display:inline;"> votes)</h6>
                        @if (Model.Votes > 0)
                        {
                            <div class="row">
                                <div style="float: left;">
                                    <br />
                                    @for (var i = 1; i <= Model.Rating; i++)
                                    {
                                        <span class="starGlowN"></span>
                                    }
                                    @for (var i = (Model.Rating + 1); i <= 10; i++)
                                    {
                                        <span class="starFadeN"></span>
                                    }
                                </div>
                            </div>
                        }
                        <partial name="_RatePartial" />
                    </div>
                </div>
            </div>
        </div>
</div>
</body>
</html>

<script>

$(document).ready(function () {
    $.getJSON('https://www.omdbapi.com/?apikey=' + '4713f8' + '&i=tt' + @Model.Id , function (data) {
        //a0b6e7bc
        //74e33cd2

        var about_data = data.Plot;
        var director_data = data.Director;
        var actors_data = data.Actors;
        var runtime_data = data.Runtime;
        var release_data = data.Released;
        var category_data = data.Genre;
        var writer_data = data.Writer;
        var language_data = data.Language;
        var country_data = data.Country;
        var year_data = data.Year;
        var rating_data = data.imdbRating;
        var votes_data = data.imdbVotes;


        console.log(about_data);
        var article_data = '';
        if (data.Poster == "N/A" || data.Poster == null) {
            article_data += '<img src="/Images/possible_logo.png" alt=" ' + data.Title + ' "  id="' + data.Title + '" class="errorPosters" />';
        } else {
            article_data += '<img src=" ' + data.Poster + ' " alt=" ' + data.Title + ' "  id="' + data.Title + '" class="posters"/>';
        }

        $('#article_table').append(article_data);
        $('#about').append(about_data);
        $('#director').append(director_data);
        $('#runtime').append(runtime_data);
        $('#release').append(release_data);
        $('#category').append(category_data);
        $('#actors').append(actors_data);
        $('#writer').append(writer_data);
        $('#country').append(country_data);
        $('#language').append(language_data);
        $('#year').append(year_data);
        $('#rating').append(rating_data);
        $('#votes').append(votes_data);

    });
});
</script>
