@model IEnumerable<MoviesWebApplication.Data.MovieDBO>
@{
    ViewData["Title"] = "Index";
}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <style>
        .posters {
            width: 210px;
            height: 300px;
            margin: 35px;           
        }
        .box {
            position: relative;
            display: inline-block; /* Make the width of box same as image */
        }

            .box .text {
                position: absolute;
                z-index: 999;
                margin: 0 auto;
                left: 0;
                right: 0;
                top: 45%; /* Adjust this value to move the positioned div up and down */
                text-align: center;
                width: 60%; /* Set the width of the positioned div */
                color: white;
            }
        #searching {
            background-image: url('/Images/zoom.png');
            background-size: 20px;
            background-position: 10px 12px;
            background-repeat: no-repeat;
            width: 92%;
            font-size: 15px;
            padding: 12px 20px 12px 40px;
            border: 1px solid #ddd;
            margin-bottom: 12px;
            display:inline;
        }
        .left {
            position: absolute;
            top: 17px;
            left: 20px;
        }
        .centered {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        .container {
            position: relative;

        }
        #left {
            height:48px;           
        }

    </style>

    <script type="text/javascript" src="~/js/jquery-1.10.2.min.js"  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="   crossorigin="anonymous"></script>
    <script type="text/javascript" src="~/scripts/jquery.js"></script>
   
    
</head>
<body>
    <h1>All Movies</h1>
    @* <input type="text" id="myInput" name="search" placeholder="Search for movies..">*@

    @using (Html.BeginForm("Search", "", FormMethod.Get))
    {
        @Html.TextBox("searching")<input id="left" type="submit" value="Search" placeholder="Search for movies.." />
    }
    <div class="wrapper row" id="article_table"></div>
</body>
</html>

<script>
   @* $("#myInput").keyup(function () {
        var val = $.trim(this.value);
        if (val === "") {
            $('.text').show();
            $('img').show();
        }else {
            $('img').hide();
           $('.text').hide();
            val = val.split(" ").join("\\ ");
            $("img[alt*=" + val + " i]").show();
            $(".text[alt*=" + val + " i]").show();
        }
    });*@

    $(document).ready(function () {
        $("#searching").val('');
    });
</script>
 @if (Model.Count() > 0)
    {
        <div class="wrapper row">
            @foreach (var movie in Model)
            {
                <div class="item m-4">
                    <script>

                    $(document).ready(function () {
                        $.getJSON('https://www.omdbapi.com/?apikey=' + '4713f8' + '&i=tt' + @movie.Id , function (data) {
                            //a0b6e7bc
                            //74e33cd2
                            //f8b2e37a
                            console.log(data.Title);
                           

                            var title = data.Title;
                            var article_data = '';
                            if (data.Poster == "N/A" || data.Poster == null) {
                                article_data += '<div class="box"><img src="/Images/black.jpg" alt=" ' + data.Title + ' "  id="' + data.Title + '" class="posters" /><div alt=" ' + data.Title + ' "  id="' + data.Title +'" class="text"><h6>'+title+'</h6></div></div>';
                            } else {
                                article_data += '<div><img  src=" ' + data.Poster + ' " alt=" ' + data.Title + ' "  id="' + data.Title + '" class="posters" /></div>';
                            }
                            var images = document.getElementsByTagName("img");
                            for (var i = 0; i < images.length; i++) {
                                var image = images[i];
                                image.onclick = function (event) {

                                    window.location.href = 'https://bestmoviesinclela.azurewebsites.net/Movies/Details/' + this.id;
                                  //window.location.href = 'https://localhost:44329/Movies/Details/' + this.id;



                                };
                            }



                            $('#article_table').append(article_data);
                      
                        });
                    });
                    </script>

                </div>
            }
        </div>
    }
    else
    {
        <h4>No Movies Available Right Now</h4>
    }