@model IEnumerable<MoviesWebApplication.Data.MovieDBO>
@{
    ViewData["Title"] = "Statistics";
}

<div id="tekst">Wybierz datę dla której chcesz zobaczyć wykres: <input type="text" id="fromDate" class="datepicker" /><button>Generuj wykresy</button></div>